

@font-face {
    font-family: 'pt_serifregular';
    src: url('fonts/ptserif-regular1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifbold';
    src: url('fonts/ptserif-bold1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('fonts/ptserif-bold1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
