body {
  margin: 0;
  background:  no-repeat url('img/background1920.svg');
}

.wrapper {
  margin: 0 auto 0 200px;
  width: 84.2%;
}

.header {
  display: flex;
  justify-content:space-between;
  padding-bottom: 150px;
}

.logo{
  width: 146px;
  height: 55px;
  background: no-repeat url('img/logo1920.svg');
  padding-top: 60px;
  margin-top: 88px;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.menu__item {
  font: bold 22px/26px 'Museo Sans Cyrl', arial, helvetica, sans-serif;
  padding-right: 27px;
  cursor: pointer;
  text-decoration: none;
  color: #F8EEE4;
  margin-right: 14.1px;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:last-child {
  padding-right: 0;
}

.main{
  background: top 56px right 240px no-repeat url(img/picture2.svg), top 36px right 559px no-repeat url(img/picture1.svg),top 56px right no-repeat url(img/picture3.svg);
  width: 1720px;
}

.main__title_1{
  position: relative;
  font: bold 280px/222px 'pt_serifbold',arial, helvetica, sans-serif;
  color: #F8EEE4;
  opacity: .4;
  margin: 0;
}

.main__title_2 {
  top: 45.3%;
  position: absolute;
  font: bold 98px/1px 'pt_serifbold',arial, helvetica, sans-serif;
  color: #F8EEE4;
  padding-left: 83px;
}

.main__subtitle {
  font: 22px/26px 'Museo Sans Cyrl',arial, helvetica, sans-serif;
  width: 551px;
  height: 55px;
  color: #F8EEE4;
  padding: 57px 0 39px 21px;
  letter-spacing: 0.4px;
}

.main__button {
  letter-spacing: 1px;
  display: inline-block;
  font: 22px/26px 'Museo Sans Cyrl',arial, helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  border-radius: 48px;
  background: no-repeat #D4BEA3;
  color: #FFF;
  padding: 17px 88px;
  margin-left: 21px;
}

.hamburger-menu{
  display: none;
}

@media (max-width: 768px) {
.body{
  background: no-repeat url('img/mobile_bg.jpg');
}

.header{
  padding-bottom: 81px;
}

.wrapper {
  margin: 0;
}

.logo {
  margin-top: 35px;
  padding-top: 74px;
  background: bottom 84px right  no-repeat url('img/logomobile.svg');
}

.menu {
  display: none;
}

.main{
  background: none;
}

.main__title_1{
  position: relative;
  font: bold 169px/13px 'pt_serifbold',arial, helvetica, sans-serif;
  color: #F8EEE4;
  opacity: .4;
  margin: 0;
  padding-left: 16px;
}

.main__title_2{
  position: absolute;
  font: bold 58.8px/43px 'pt_serifbold',arial, helvetica, sans-serif;
  color: #F8EEE4;
  padding: 5px 0 0 76px;
  letter-spacing: 0.6px;
  margin: 0;
}

.main__subtitle{
  font: 17px/22px 'Museo Sans Cyrl',arial, helvetica, sans-serif;
  width: 297px;
  height: 55px;
  color: #F8EEE4;
  padding: 128px 0 50px 40px;
  letter-spacing: 0.8px;
  text-align: center;
}
.main__button{
  letter-spacing: 0.6px;
  display: inline-block;
  font: 16px/25px 'Museo Sans Cyrl',arial, helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  border-radius: 48px;
  background: no-repeat #D4BEA3;
  color: #FFF;
  padding: 9.8px 61px;
  margin-left: 76px;
  text-indent: 1.9px;
}

.hamburger-menu {
  visibility: hidden;
  position: absolute;
  z-index: 999;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: 276px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
  margin-top: 7px;
}

.menu__btn >span,
.menu__btn >span::before,
.menu__btn >span::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  align-self: flex-end;
  background-color: #fcf5ed;
}

.menu__btn >span::before {
  content: '';
  top: -8px;
}

.menu__btn >span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 176px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: 0.25s;
}

.menu__item_hamburger-menu {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: 'Museo_Sans_Cyrl', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #172f27;
}

#menu__toggle:checked~ .menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~ .menu__btn>span::before {
  top: -24px;
  left: -10px;
  transform: rotate(0);
  background-color: #000;
}

#menu__toggle:checked~ .menu__btn>span::after {
  top: -24px;
  left: -10px;
  transform: rotate(90deg);
  background-color: #000;
}

#menu__toggle:checked~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}
}
